/* div {
    width: 120px;
    height: 120px;
    content: "";
    display: block;
}
.box1 {
    background-color: purple;
    padding-right: 10px;
}
.box2 {
    background-color: blueviolet;
}
.box3 {
    background-color: green;
} */